$primary-light: #00eaff;
$primary-color: #0aafc5;
$primary-dark: #00c3ff;
$accent-light: #0a4a6e;
$accent-color: #173750;
$accent-dark: #192630;

$white: #fefefe;
$light: #e4ecf4;
$light-grey: #b0bec9fd;
$grey: #8a96a0;
$dark-grey: #454b52;
$dark: #1d1f22dd;
$black: #060606dd;


footer {
  height: 10vh;
  width: 100vw;
  padding: 0.75rem;
  position: relative;
  // background-color: #22455f;
  color: $dark;
  justify-content: left;
  word-wrap: break-word;
}

small,
p {
  margin: 0;
  padding: 0;
  font-size: 75%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.copyright {
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 0;
}