$primary-light: #00eaff;
$primary-color: #0aafc5;
$primary-dark: #00c3ff;
$accent-light: #0a4a6e;
$accent-color: #173750;
$accent-dark: #192630;
$purple: #7b3ab8;
$white: #fefefe;
$light: #e4ecf4;
$light-grey: #b0bec9fd;
$grey: #8a96a0;
$dark-grey: #454b52;
$dark: #1d1f22dd;
$black: #060606dd;

$gradient: Gradient 30s ease infinite;
$bg-gradient: linear-gradient(15deg, $primary-light, $primary-dark, $primary-color);
$offset-polygon: polygon(30% 0, 100% 0, 100% 100%, 0 90%, 0 0);

header {
  height: 75vh;
  width: 100vw;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  transition: all 250ms ease;
}

.header-svg {
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  transition: all 250ms ease;
}

.header-svg svg {
  text-align: center;
  height: 100%;
  width: 100%;
  transition: all 250ms ease;
}

.gradient {
  z-index: -1;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100vw;
  height: 60vh;
  background: $bg-gradient;
  background-size: 500% 500%;
  -webkit-animation: $gradient;
  -moz-animation: $gradient;
  animation: $gradient;
  clip-path: $offset-polygon;
}


@keyframes Gradient {
  0% {
    background-position: 0% 33%
  }

  33% {
    background-position: 66% 100%
  }

  66% {
    background-position: 100% 66%
  }

  100% {
    background-position: 33% 0%
  }
}

h6 {
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}