$primary-light: #00eaff;
$primary-color: #0aafc5;
$primary-dark: #00c3ff;
$accent-light: #0a4a6e;
$accent-color: #173750;
$accent-dark: #192630;
$white: #fefefe;
$light: #e4ecf4;
$light-grey: #b0bec9fd;
$grey: #8a96a0;
$dark-grey: #454b52;
$dark: #111213dd;
$black: #060606dd;


:root {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  animation: toColor 1s both 250ms;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}


a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}


img {
  margin: 0;
  padding: 0;
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  background: #00000033;
  border: none;
  height: 1px;
  transition: all 350ms ease-in-out;
}

button {
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}


ul {
  margin: 0;
  padding: 0.25rem 0;
  list-style: none;
  list-style-position: inside;
  list-style-image: none;
}

li,
li>p {
  margin-bottom: calc(1.2rem / 2);
}

li>ul {
  margin: calc(1.45rem / 2) 0 calc(1.45rem / 2) 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.reporting,
.security,
.integrations {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 0.75rem;
  transition: all .9s ease-in-out;
}

.reporting-bg {
  margin: 0;
  padding: 3rem 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 45vh;
  background-color: #37b6ff8c;
  clip-path: polygon(0 4%, 0 100%, 100% 96.5%, 100% 0%, 100% 0);
  transition: all 1.7s ease-in-out;
  animation: bg 2s ease both 2s;
}

.security-bg {
  margin: 0;
  padding: 3rem 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 40vh;
  background-color: #b05dffbb;
  clip-path: polygon(0 6%, 0 100%, 100% 96.5%, 100% 0%, 100% 0);
  transition: all 1.8s ease-in-out;
  animation: bg2 1.8s ease-in both 3s;
}

.integrations-bg {
  margin: 0;
  padding: 3rem 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 40vh;
  background-color: #5dffe9bb;
  clip-path: polygon(0 6%, 0 100%, 100% 95%, 100% 0%, 100% 0);
  transition: all 3s ease-in-out;
  animation: bg3 2.1s ease both 4s;
  ;
}

@keyframes bg {
  0% {
    background-color: #6c38a0db;
    opacity: 0;
  }

  100% {
    background-color: #00a2ffbb;
    opacity: 1;
  }
}

@keyframes bg2 {
  0% {
    background-color: #3bb2fcdb;
    opacity: 0;
  }

  100% {
    background-color: #b05dffbb;
    opacity: 1;
  }
}

@keyframes bg3 {
  0% {
    background-color: #3bfcd9db;
    opacity: 0;
  }

  100% {
    background-color: #5dffe9bb;
    opacity: 1;
  }
}

@keyframes toColor {
  0% {
    filter: grayscale(70%);
  }

  100% {
    filter: grayscale(0);
  }
}