$primary-light: #00eaff;
$primary-color: #0aafc5;
$primary-dark: #00c3ff;
$accent-light: #0a4a6e;
$accent-color: #173750;
$accent-dark: #192630;
$white: #fefefe;
$light: #e4ecf4ee;
$light-grey: #b0bec9fd;
$grey: #8a96a0;
$dark-grey: #454b52;
$dark: #1d1f22dd;
$black: #060606dd;

nav {
  width: 100vw;
  height: 100%;
  padding: 1rem;
  z-index: 9;
  display: flex;
  position: relative;
  top: 0;
  transition: transform 0.3s ease-in-out;
}

.nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.brand {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: inherit;
  transition: all .3s ease-in-out;
  z-index: 3;
}

.brand svg {
  width: 12rem;
  max-width: 100%;
}

button {
  border-radius: 3px;
  outline: none;
  border: none;
  text-align: center;
}

.sign-up {
  padding-bottom: 0.35rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'barlow';
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 6rem;
  height: 1.75rem;
  vertical-align: middle;
  background-color: $accent-color;
  box-shadow: #19263060 2px 2px 8px;
  color: $light;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 300ms ease;
}