section {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}




ul {
  margin: 0;
  padding: 0.25rem 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0.25rem 0;
  list-style: none;
  font-family: 'rubik';
}