.st0 {
  fill: #E3EAF6;
}

.st1 {
  fill: #FFE8C0;
}

.st2 {
  fill: #FFFFFF;
}

.st3 {
  fill: #ADE6DC;
}

.st4 {
  fill: #5C7DB1;
}

.st5 {
  fill: none;
  stroke: #5C7DB1;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st6 {
  fill: none;
  stroke: #5C7DB1;
  stroke-width: 3.9961;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 0.999, 4.9951;
}

.st7 {
  fill: none;
  stroke: #5C7DB1;
  stroke-width: 1.998;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 2.9971, 2.9971, 0.999;
}

.st8 {
  fill: none;
  stroke: #5C7DB1;
  stroke-width: 3.3287;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st9 {
  fill: none;
  stroke: #E3EAF6;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st10 {
  fill: none;
  stroke: #E3EAF6;
  stroke-width: 3.9961;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 0.999, 4.9951;
}

.st11 {
  fill: none;
  stroke: #E3EAF6;
  stroke-width: 1.998;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 2.9971, 2.9971, 0.999;
}